doctype html
html
  head
    title My favorite song page!
    link(rel='stylesheet', type='text/css', href='styles/global.css')
  body
    h1 Mur de Texte
p Bonjour et Bienvenue sur mon mur de texte!
h2 Les differents sujets de discussions
section
ul
li Sujet 1 Mcdo ou Burger King? 
p Click 
      a(href='/sujet1') here

li Sujet 2 Tacos ou Kebab?
p Click 
      a(href='/sujet2') here

li Sujet 3 Dominos ou Pizza Hut?
p Click 
      a(href='/sujet3') here
