doctype html
html
  head
    title Dominos ou PizzaHut?
    link(rel='stylesheet', type='text/css', href='styles/global.css')
  body
h1 Dominos ou PizzaHut?
form 
method 
p
label Ajoutez un nouveau message
br
textarea rentrez ce que vous voulez
input(type='submit' text='Envoyer')

p 
a(href='/') Retourner à la page d'accueil
